.bg-secondary-custom {
  background-color: #000000 !important;
  color: #fff !important;
}
.navbar-profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.nav-item{
    background-color: #031874;
    border-radius: 8px;
    padding: 0px !important;
}
.nav-item a{
    color: #ffffff !important;
}
a {
    text-decoration: none !important;
}
.carousel-item{
    height: 400px;
}
.carousel-item img {
  height: 400px;   
  width: auto;     
  display: block;  
  margin: 0 auto;  
}
ul.dropdown-menu.dropdown-menu-end.show {
    background-color: #263181 !important;
}
.catalogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 20px; 
  justify-items: center;
  padding: 20px;
}

.filme {
  text-align: center;
  transition: transform 0.3s ease;
}

.filme:hover {
  transform: scale(1.05);
}

.filme img {
  border-radius: 8px;
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.filme h3 {
  color: #000000;
  font-size: 1rem;
  margin-top: 8px;
}
